@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2D2D2D;
  --foreground: #1A1A1A;
  --font-color: #E0E0E0;
  --components-color: #E67E22;
  --errors: #E74C3C;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}