@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #040D12;
  --font-color: #E0E0E0;
  --components-color: #78ABA8;
  --errors: #E74C3C;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  'roboto';
}
.title-main-projects{
    text-align: center;
    font-size: 3rem;
    padding: 30px;
    margin: 200px 0 100px 0;
    color: #000;
}
@media screen and (max-width: 480px) {
  .projects{
    flex-direction: column;
  }
  .title-main-projects{
    margin: 40px 40px 40px 40px;

  }
}