@import url('globals.css');

.little-container{
    display: flex;
    justify-content: center;
    background-color: #fffdfdcc;
    margin-top: 210px;
}
.card-little{
    padding: 50px;
    width: 500px;
}
.title-hi{
    font-size: 2.2rem;
    color: var(--components-color);
}
.title-date{
    font-size: 1.4rem;
    color: var(--components-color);

}
.sub-date{
    font-weight: bold;
    font-size: 1.2rem;
}
.text-date{
    font-size: 1.3rem;
    color: #817f7fcc;
}
@media screen and (max-width: 1440px) {
    .text-date{
        width: 400px;
    }
}
@media screen and (max-width: 1024px) {
    .little-container{
        margin-top: 30px;
    }
    .title-hi{
        font-size: 1.3rem;
    }
    .title-date{
        font-size: 1rem;
    }
    .sub-date{
        font-size: 1rem;
        white-space: nowrap;
    }
    .text-date{
        width: 100%;
        font-size: 1rem;
    }
    
}
@media screen and (max-width: 900px) {
    .title-hi{
        font-size: 2rem;
    }
    .title-date{
        font-size: 1.7rem;
    }
    .sub-date{
        font-size: 1.3rem;
    }

    .little-container{
        flex-direction: column;
    }
    .card-little{
        padding: 20px;
        width: 100%;
    }
    .text-date{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 480px) {
    .little-container{
        margin-top: 0;
        flex-direction: column;
        padding: 20px;
    }

    .title-date{
        font-size: 1.1rem;
    }
    .text-date{
        width: 100%;
    }
    .card-little{
        width: 100%;
        padding: 30px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .sub-date{
        font-size: 15px;
    }
}