.container-main{
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-typewriter{
    width: 900px;
    font-family: 'oswald';
    font-weight: 300;
}
.text-description{
    color: #ccc;
    font-size: 30px;
    padding-top: 10px;
}
.handsome-image{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.handsome-image:hover{
    opacity: 0.6;
    transition: 0.9s;
    border-radius: 0 60px 0 60px;
}

@media screen and (max-width: 480px) {
  
    .container-main{
        margin-top: 120px;
        flex-direction: column;
        width: 100%;
    }
    .title-typewriter{
        width: 400px;
    }
    .title-typing{
        font-size: 2.6rem;
    }
    .text-description{
        font-size: 25px;
        padding: 10px;
    }
    .handsome-image{
        padding: 20px;
    }
}