@import url('globals.css');

.container-main {
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-type {
    display: flex;
    align-items: center;
}

.title-typewriter {
    width: 900px;
    font-family: 'oswald';
    font-weight: 300;
}

.title-writing {
    color: var(--components-color);
}

.text-description {
    color: #5f5f5f;
    font-size: 30px;
    padding-top: 10px;
}

.btn-main {
    background-color: #78ABA8;
    font-size: 1.7rem;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 10px 0 0;
    color: #fff;
}

.btn-main:hover {
    transform: scale(1.1);
    transition: 0.9s;
}

.handsome-image {
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.handsome-image:hover {
    opacity: 0.6;
    transition: 0.9s;
    border-radius: 0 60px 0 60px;
}

@media screen and (max-width: 1440px) {
    .container-main {
        padding: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .container-main{
        margin-top: 150px;
    }
    .title-typing{
        font-size: 3rem;
    }
    .text-description{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .title-typing{
        font-size: 2.7rem;
    }
    .text-description{
        font-size: 18px;
    }
    .btn-main{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {

    .container-main {
        margin-top: 120px;
        flex-direction: column;
        width: 100%;
    }

    .title-typewriter {
        width: 100%;
    }

    .title-typing {
        font-size: 2.4rem;
    }

    .text-description {
        font-size: 1.4rem;
        padding: 10px;
    }

    .btn-main {
        padding: 7px;
        font-size: 1.4rem;
    }

    .handsome-image {
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .title-typing{
        font-size: 1.7rem;
    }
    .text-description{
        font-size: 16px;
    }
}