.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 300px;
}


.title-typewriter{
    font-family: 'oswald';
    width: 900px;
}
.handsome-image{
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.handsome-image:hover{
    opacity: 0.7;
    border-radius: 50px 0 50px 0;
    transition: 0.9s;
}