@import url('globals.css');

.menu-mobile{
    width: 40px;
    display: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    background-color: var(--foreground);
    color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100vw;
    justify-content: space-between;
}
.menu-links, .menu-about, .menu-socials{
    display: flex;
    align-items: center;
}
.img-social{
    width: 50px;
}
.menu-socials{
    margin-right: 40px;
}
.menu-item{
    padding: 20px;
    font-size: 18px;
}
.menu-item-socials{
    margin: 8px;
}
.menu-links .menu-item a:hover{
    color: var(--components-color);
}

@media screen and (max-width: 480px){
    .menu{
        justify-content: center;
        display: none;
        
    }
    .menu-opened{
        display: block;
    }
    .menu-mobile{
        display: block;
        width: 50px;
        height: 50px;
        margin: 10px;
        transition: transform 3s ease, opacity 3s ease; /* Transições suaves para a entrada do menu */

    }
    

    .menu-links{
        flex-direction: column;
    }
    .menu-about{
        display: none;
    }
}