@import url(globals.css);

.title{
    font-size: 1.5rem;
    margin-top: 250px;
}
.projects-area{
    display: flex;

}
.card-projects{
    background-color: var(--foreground);
    width: 500px;
    height: 520px;
    margin: 10px;
    color: #ccc;
    border-radius: 20px;
}
.project-image{
    width: 100vw;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid var(--components-color);
}
.project-image:hover{
    opacity: 0.6;
    transition: 0.4s;
}
.project-text{
    list-style: none;
}
.project-title{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--components-color);
}
.project-description{
    padding: 10px;
}
.icon-tools{
    width: 40px;
    margin: 10px 10px 0 10px;
    object-fit: cover;
}
.tools-list{
    display: flex;
}
