.container-stack{
    padding: 100px;
    height: 100%;
    width: 100%;
}
.title-stack{
    text-align: center;
    color: #fff;
    padding-top: 50px;
    font-size: 2rem;
}
.ul-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}
.ul-icons li{
    margin: 10px;
    padding: 10px;
    background-color: #03346E;
    border-radius: 20px;
}
.ul-icons li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.icon-tool{
    width: 100px;
}
.tool-unknowing{
   filter: saturate(0);
}

@media screen and (max-width: 480px) {
    .ul-icons{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }
}